[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cloudinary = "*"
dj3-cloudinary-storage = "*"
pillow = "*"
gunicorn = "*"
django-heroku = "*"
psycopg2 = "*"
dj-database-url = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
